{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
  <h1>Previous Two Weeks</h1>
  {% for start_date, end_date in week_dates %}
  <h2>{{ start_date.strftime('%m/%d/%Y') }} - {{ end_date.strftime('%m/%d/%Y') }}</h2>
  <div class="table-responsive">
      <table class="table table-striped">
          <thead>
              <tr>
                  <th>Type</th>
                  <th>Company</th>
                  <th>Position</th>
                  <th>Method</th>
                  <th>Contact Info</th>
                  <th>Date</th>
                  <th>Notes</th>
              </tr>
          </thead>
          <tbody>
              {% for item in data %}
                  {% if start_date <= item.date <= end_date %}
                      <tr>
                          <td>{{ item.type }}</td>
                          <td>{{ item.company }}</td>
                          <td>{{ item.position }}</td>
                          <td>{{ item.method }}</td>
                          <td>{{ item.contact_info }}</td>
                          <td>{{ item.date.strftime('%m/%d/%Y') }}</td>
                          <td>{{ item.notes }}</td>
                      </tr>
                  {% endif %}
              {% endfor %}
          </tbody>
      </table>
  </div>
{% endfor %}

{% endblock %}
